{{#if canShow}}
  <div class="tag-title-header">
    <div class="tag-title-contents">
    {{#if this.tags.isLoaded}}
      {{#each this.tags.value as |tag|}}
        <div class="tag">
          <h1 class="tag-name">
            <span><a href="/tag/{{tag.name}}">{{tag.name}}</a></span>
          </h1>
          {{#if (theme-setting "show_tag_description")}}
            <p class="tag-description">{{tag.description}}</p>
          {{/if}}
          <p>{{tag.authors}}</p>
          
          <p><strong>PDF:</strong> <a href={{tag.url}}>{{tag.url}}</a></p>
        </div>
      {{/each}}
    {{/if}}
    </div>
  </div>
{{/if}}
